
@{
    ViewData["Title"] = "Index";
}

<div class="p-5 mb-4 bg-light rounded-3 semi-transparent">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Proyecto II</h1>
        <h2>WEB API PRODUCT</h2>
        <p class="col-md-8 fs-4">Api RESTful</p>
    </div>
</div>