html {
  font-size: 1px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../recursos/images/almacena.png');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.semi-transparent {
    opacity: 0.8;
}

p {
    font-family: 'Bodoni MT';
    font-size: 20px;
    text-indent: 30px;
    background-color: lightgoldenrodyellow;
}